<footer class="footer">
  <small>
<div class="social-media pull-right">
    <%= fa_stacked_icon "twitter", base: "square-o" %>
<%= fa_stacked_icon "facebook", base: "square-o" %>
<%= fa_stacked_icon "instagram", base: "square-o" %>
<%= fa_stacked_icon "envelope", base: "square-o" %>
</div>
  </small>
  <nav>
    <ul>

    </ul>
  </nav>
  </footer>